<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean name="testUser" class="com.technoelevate.springcore.User">
		<constructor-arg>
			<value>1</value>
		</constructor-arg>
		
		<constructor-arg>
		<value>Ajay</value>
		</constructor-arg>
		
		<constructor-arg>
		<value>50</value>
		</constructor-arg>
		
		<constructor-arg>
		<ref bean="mysql"/>
		</constructor-arg>
		
	</bean>
	

</beans>